
.speciesRow {
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-areas: 'header header photo'
    'main1 main2 photo';
  grid-template-columns: 20% 1fr 320px;
  grid-template-rows: 70px 1fr;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.speciesRowGrid {
  width: 535px;
  display: grid;
  grid-template-areas: 'header curated'
    'photo main';
  grid-template-columns: 320px 1fr;
  grid-template-rows: 40px 1fr;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.speciesRow a, .speciesRowGrid a {
  color: #2c75c9;
  text-decoration: none;
}

.speciesRow a:hover, .speciesRow a:focus, .speciesRowGrid a:hover, .speciesRowGrid a:focus {
  color: #315985;
}

.missing {
  color: #999999;
  font-weight: bold;
}

.lowQuality {
  font-style: italic;
}

.speciesHeader {
  grid-area: header;
}

.speciesName {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 1px;
}

.speciesNameGrid {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 1px;
}

.scientificName {
  font-size: 18px;
  font-style: italic;
  color: #999;
}

.scientificNameGrid {
  font-size: 16px;
  font-style: italic;
  color: #999;
}

.curatedLink {
  grid-area: curated;
  padding-left: 10px;
  align-self: center;
}

.photo {
  grid-area: photo;
  text-align: center;
}

.photoGrid {
  grid-area: photo;
  text-align: left;
}

.photoInfo1 {
  grid-area: main1;
}

.photoInfo2 {
  grid-area: main2;
  padding-right: 20px;
}

.photoInfoGrid {
  grid-area: main;
  padding-left: 10px;
}
