
.speciesRow {
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-areas: 'header header photo'
    'main1 main2 photo';
  grid-template-columns: 20% 1fr 320px;
  grid-template-rows: 70px 1fr;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}

@media screen and (max-width: 1080px) {
  .speciesRow {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .speciesRow {
    grid-template-areas: 'header header'
      'main1 photo'
      'main2 photo';
    grid-template-columns: 1fr 320px;
    grid-template-rows: auto auto auto;
    align-content: start;
  }
}

@media screen and (max-width: 450px) {
  .speciesRow {
      grid-template-areas: 'header header'
        'photo photo'
        'main1 main2';
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto;
      align-content: start;
  }
}

.speciesRowGrid {
  width: 535px;
  display: grid;
  grid-template-areas: 'header curated'
    'photo main';
  grid-template-columns: 320px 1fr;
  grid-template-rows: 32px 1fr;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}

@media screen and (max-width: 1080px) {
  .speciesRowGrid {
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-content: start;
  }
}

@media screen and (max-width: 600px) {
  .speciesRowGrid {
    grid-template-areas: 'header'
      'photo'
      'curated'
      'main';
    grid-template-columns: 100%;
    grid-rows: auto auto auto auto;
  }
}

.speciesRowCompact {
  width: 320px;
  display: grid;
  grid-template-areas: 'header'
    'other';
  grid-template-rows: 32px 1fr;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}

@media screen and (max-width: 1080px) {
  .speciesRowCompact {
    width: 100%;
    grid-template-rows: auto auto;
    align-content: start;
  }
}

.speciesRow a, .speciesRowGrid a, .speciesRowCompact a {
  color: #2c75c9;
  text-decoration: none;
}

.speciesRow a:hover, .speciesRow a:focus, .speciesRowGrid a:hover, .speciesRowGrid a:focus, .speciesRowCompact a:hover, .speciesRowCompact a:focus {
  color: #315985;
}

.missing {
  color: #999999;
  font-weight: bold;
}

.lowQuality {
  font-style: italic;
}

.speciesHeader {
  grid-area: header;
}

@media screen and (max-width: 1080px) {
  .speciesHeader {
    padding-bottom: 5px;
  }
}

.speciesName {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 1px;
}

@media screen and (max-width: 600px) {
  .speciesName {
    font-size: 18px;
  }
}

.speciesNameGrid {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 1px;
}

@media screen and (max-width: 1080px) {
  .speciesNameGrid {
    font-size: 18px;
    line-height: .8;
  }
}

@media screen and (max-width: 600px) {
  .speciesNameGrid {
    font-size: 13px;
  }
}

.scientificName {
  font-size: 18px;
  font-style: italic;
  color: #999;
}

@media screen and (max-width: 600px) {
  .scientificName {
    font-size: 14px;
  }
}

.scientificNameGrid {
  font-size: 16px;
  font-style: italic;
  color: #999;
}

.curatedLink {
  grid-area: curated;
  padding-left: 10px;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .curatedLink {
    padding-left: 0px;
  }
}

.photo {
  grid-area: photo;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .photo {
    max-width: 320px;
  }
}

.photoGrid {
  grid-area: photo;
  text-align: left;
}

.photoCompact {
  grid-area: photo;
  text-align: left;
}

@media screen and (max-width: 1080px) {
  .photoCompact {
    width: 100%;
  }
}

.displayPhoto {
  width: 320px;
}

@media screen and (max-width: 1080px) {
  .displayPhoto {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .photo .displayPhoto {
    max-width: 320px;
  }
}

.other {
  grid-area: other;
}

.photoInfo1 {
  grid-area: main1;
}

.photoInfo2 {
  grid-area: main2;
  padding-right: 20px;
}

.photoInfoGrid {
  grid-area: main;
  padding-left: 10px;
  font-size: 90%;
}

@media screen and (max-width: 600px) {
  .photoInfoGrid {
    padding-top: .5em;
    padding-left: 0px;
  }
}

.photoInfoCompact {
  grid-area: main;
  font-size: 90%;
}
